* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
h1 {
  text-align: center;
  margin-bottom: 40px;
}
.login {
  width: 35%;
  height: 400px;
  background-color: white;
  border-radius: 5px;
  margin: -3rem auto;
  padding: 20px;
  transform: translate(0, 150px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}
.login #name,
#pass {
  width: 90%;
  margin: 4px 25px;
  padding: 10px 6px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: inline-block;
}
label {
  margin-left: 25px;
}

.button {
  width: 45%;
  margin: 22px 0px;
  padding: 12px 20px;
  background-color: #4caf50;
  font-size: 1.1rem;
  border-radius: 30px;
  border: 1px solid #357c38;
  color: white;
  font-weight: bold;
}
.button:hover {
  background-color: #45a049;
}
.actions {
  text-align: center;
}

.error-text {
  color: #b40e0e;
}
.login input:focus {
  /* outline: none; */
  border-color: #240370;
  background-color: #e0d4fd;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error {
  margin-left: 500px;
  margin-top: 130px;
  margin-bottom: -130px;
  background-color: #ffe3e6;
  color: black;
  padding: 16px 30px;
  font-size: 0.9rem;
  width: 35%;
  border-radius: 6px;
  border: 1px solid #e89090;
  text-align: center;
}
